h1 {
	font-family: 'Times New Roman', Times, serif;
	text-decoration: underline;
	margin: 0.5rem;
}

.section {
	display: flex;
	flex-direction: row;
}

.content p {
	font-size: 1rem;
	margin: 1rem;
}

.section img {
	width: 16rem;
	height: 100%;
	object-fit: cover;
	margin: 1rem;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.contact {
	margin: 0;
	padding: 0;
}

.email {
	display: flex;
	align-items: center;
	margin: 1rem;
}

.email p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1rem;
}

.email i {
	color: white;
	font-size: 1rem;
}

@media only screen and (max-width:600px) {
	.section {
		flex-direction: column-reverse;
		align-items: center;
	}
}