h1 {
	font-family: 'Times New Roman', Times, serif;
	text-decoration: underline;
	margin: 0.5rem 0.5rem;
}

input {
	display: none;
}

.categories {
	display: flex;
	justify-content: center;
	background-color: black;
	padding: 0.5rem 0;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-left: none;
	border-right: none;
}

label {
	font-family: 'Times New Roman', Times, serif;
	display: flex;
	background-color: black;
	color: white;
	font-weight: bold;
	width: 9rem; height: 2.5rem;
	align-items: center;
	justify-content: center;
	border-style: solid;
	border-color: white;
	margin: 2px;
	user-select: none;
}

.images {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.images img {
	aspect-ratio: 1;
	object-fit: cover;
	cursor: pointer;
}

.popup {
	position: fixed;
	top: 0; left: 0;
	background-color: rgba(0, 0, 0, 0.85);
	height: 100%; width: 100%;
	z-index: 10;
}

.popup span {
	position: absolute;
	top: 0; right: 10px;
	font-size: 60px;
	font-weight: bolder;
	color: white;
	cursor: pointer;
	z-index: 10;
}

.popup img {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	max-width: 800px;
	max-height: 800px;
	object-fit: scale-down;
}

@media (max-width: 600px) {
	.images {
		display: flex;
		border-collapse: collapse;
		flex-wrap: wrap;
	}

	.images img {
		width: 50%;
	}
	
	.categories {
		display: flex;
	}
	
	.categories label {
		width: 25%;
	}
	
	.popup img {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.images img {
		width: calc(100% / 3);
	}
}

@media (min-width: 900px) {
	.images img {
		width: 25%;
	}
}

label:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

#check1:checked~#labels .c1,
#check2:checked~#labels .c2,
#check3:checked~#labels .c3,
#check4:checked~#labels .c4 {
	color: red;
	border-color: red;
}

#check1:checked~#labels .c1:hover,
#check2:checked~#labels .c2:hover,
#check3:checked~#labels .c3:hover,
#check4:checked~#labels .c4:hover {
	background-color: red;
	color: black;
	cursor: pointer;
}

#check1:checked ~ .images img {
	transform: scale(1);
	opacity: 1;
	position: relative;
	transition: 0.5s;
}

#check2:checked ~ .images .personal {
	transform: scale(1);
	opacity: 1;
	position: relative;
	transition: 0.5s;
}

#check2:checked ~ .images .illustrations {
	opacity: 0;
	transform: scale(0);
	position: absolute;
	transition: 0.5s;
}

#check3:checked ~ .images .illustrations {
	transform: scale(1);
	opacity: 1;
	position: relative;
	transition: 0.5s;
}

#check3:checked ~ .images .personal {
	opacity: 0;
	transform: scale(0);
	position: absolute;
	transition: 0.5s;
}

#check4:checked ~ .images img {
	opacity: 0;
	transform: scale(0);
	position: absolute;
	transition: 0.5s;
}
